.TestButton {
    background-color: rgb(243, 196, 94);
    color: rgb(4, 61, 20);
}

.demobutton {
    background-color: rgb(6, 86, 50);
}

.heading {
    background-color: rgb(229, 220, 210);
}

.PrimaryButton {
    background-color: rgb(243, 196, 94);
    color: rgb(4, 61, 20);
}

.demobutton {
    background-color: rgb(6, 86, 50);
}

.heading {
    background-color: rgb(229, 220, 210);
}